.categories-container{
  position: sticky;
  top: 130px;
}


.category-video{
  padding: 13px 23px;
  font-weight: 600;
  font-size: 16px;
  border: 3px solid rgb(255, 255, 255);
  box-shadow: 6px 6px 0px rgb(181, 167, 224);
  background-color: black;
  color: white;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-video:hover{
  transform: scale(1.03);
  background-color: black; 
  color: white;
  box-shadow: 0px 0px 50px rgba(92, 54, 218,0.3);
}

.category-video:active{
  transform: scale(1);
  background-color: black; 
  color: white;
  box-shadow: 6px 6px 0px rgb(181, 167, 224);
}

